## Sqlite + Python - cheat sheet

### Import sqlite

In [ ]:
# create database
import sqlite3

# or 
import sqlite3 as db

### Create dataframe in sqlite

In [ ]:
# create a dataframe

df = pd.DataFrame({'name': ['Anna', 'Bill', 'Carl', 'Dig'],
                   'age': [5, 10, 15, 20],
                   'weight': [30.3, 49.2, 59.4, 70.8]})

# read dataframe
df

### Load csv in sqlite

In [ ]:
# load data file
df = pd.read_csv("file.csv")

# read data
df

### Connect to a database

In [ ]:
# connect to a database
# no database exist need to create new db file

db = sqlite3.connect('database.db')

# or
connection = db.connect('database.db')

In [ ]:
# apply _sql from pandas to add data to database
# df.to_sql('table_name', connection_name) to create a table in database to run queries

df.to_sql('table', connection)

# or 
# load data to sqlite: fail, replace, append
df.to_sql('table', connection, if_exists='replace')

In [ ]:
# load sql to ipython

%load_ext sql

In [ ]:
# refer to the database

%sql sqlite:///database.db

### Create a table with columns

In [ ]:
# cursor execute statement to interact with the database
cursor = conn.cursor()

# execute will create a table
cursor.execute("CREATE TABLE students(id INTEGER PRIMARY KEY, name TEXT, course TEXT, score REAL)")
conn.commit()

In [ ]:
def create_table():
  db = sqlite3.connect('database.db')
  cursor = db.cursor()
  cursor.execute("""
    CREATE TABLE IF NOT EXISTS students (
      id integer PRIMARY KEY,
      name text NOT NULL,
      quantity integer,
      score real
    )
  """)
  db.commit()
  db.close()

### Insert data

In [ ]:
# apply execute to insert data into table

data = ('aaz', 'Computer Engineering', 80)
cursor.execute("INSERT INTO students (name, course, score) VALUES (?, ?, ?)", data)

# or
cursor.execute("INSERT INTO students (name, course, score) VALUES (?, ?, ?)", ('daz', 'Mechanical Engineering', 70))
conn.commit()

In [ ]:
def insert_data(values):
  db = sqlite3.connect('database.db')
  cursor = db.cursor()
  cursor.execute("INSERT INTO students VALUES (?, ?, ?, ?)", values)
  db.commit()
  db.close()

# data
insert_data( ('aaz', 'Computer Engineering', 80))

### Commit changes to database

In [ ]:
db.commit()

### Close connection

In [ ]:
db.close()

### Display data

In [ ]:
%%sql

SELECT * FROM table;

In [ ]:
# apply execute to query data from table
cursor.execute("SELECT * FROM students")

In [ ]:
# query fetchall( ) to display the results
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
def display_data():
  db = sqlite3.connect('database.db')
  cursor = db.cursor()
  cursor.execute("SELECT * FROM students")
  rows = cursor.fetchall()
  db.close()
  return rows

### Filter data

In [ ]:
def filter_data(name):
  db = sqlite3.connect('database.db')
  cursor = db.cursor()
  cursor.execute("SELECT * FROM students WHERE name=?", (name,))
  row = cursor.fetchone()  
  db.close()
  return row

### Update data

In [ ]:
# apply execute to update table

cursor.execute("UPDATE students SET score = ? WHERE id = ?", (90, 1))
conn.commit()

In [ ]:
def update_data(score, name):
  db = sqlite3.connect('database.db')
  cursor = db.cursor()
  cursor.execute("UPDATE students SET quantity =? WHERE name=?", 
                 (score, name))
  db.commit()
  db.close()

# data  
update_data(100, 'astudent')

### Delete data

In [ ]:
# apply execute to delete table
cursor.execute("DELETE FROM students WHERE id = ?", (2,))
conn.commit()

In [ ]:
def delete_data(name):
  db = sqlite3.connect('database.db')
  cursor = db.cursor()
  cursor.execute("DELETE FROM students WHERE name=?", (name,))
  db.commit() 
  db.close()

# data
delete_data('bstudent')

### Order by

In [ ]:
# apply execute to query data from table
# extract name column arrange by alphabetical order
cursor.execute("SELECT * FROM fruit ORDER BY name")

In [ ]:
# apply execute to query data from table
# extract name column arrange by numerical order
cursor.execute("SELECT * FROM fruit ORDER BY quantity")

In [ ]:
# apply execute to query data from table
# extract quantity of fruits from big to small
cursor.execute("SELECT * FROM fruit ORDER BY quantity DESC")

### Group by

In [ ]:
# apply execute to query data from table
# 1. GROUP BY, 2. SUM, 3. SELECT the column
cursor.execute("SELECT name, SUM(quantity) FROM fruit GROUP BY name")

### Sum

In [ ]:
# apply execute to query data from table
# find total number of fruits
cursor.execute("SELECT SUM(quantity) FROM fruit")

### Count

In [ ]:
# find all rows in sqlite 

%%sql
SELECT COUNT(BMI) FROM table_diabetes;

In [ ]:
# find all rows

SELECT COUNT(*) FROM table_name;

In [ ]:
# find one column rows

SELECT COUNT(column_name) FROM table_name;

In [ ]:
# find each column = 0s

%%sql
SELECT COUNT(column)
FROM table
WHERE column = 0;

In [ ]:
# find each column is null

%%sql
SELECT COUNT(column_id)
FROM table
WHERE column IS NULL;

### Count Distinct

In [ ]:
# apply execute to query data from table
# extract count distinct
cursor.execute("SELECT COUNT (DISTINCT name) FROM fruit")

In [ ]:
# apply execute to query data from table
# extract quantity of fruits from big to small
cursor.execute("SELECT COUNT (DISTINCT quantity) FROM fruit")

In [ ]:
# apply execute to query data from table
# extract only name column
cursor.execute("SELECT DISTINCT name FROM fruit")

In [ ]:
# apply execute to query data from table
# extract only quantity column
cursor.execute("SELECT DISTINCT quantity FROM fruit")

### Limit

In [ ]:
# apply execute to query data from table
# extract first 5 rows
cursor.execute("SELECT * FROM fruit LIMIT 5")

### Table format

In [ ]:
%%sql

SELECT *
  FROM sqlite_master
 WHERE type='table';

### Backticks

In [ ]:
# Backticks `database`, `table`, `column names`

%%sql
ALTER TABLE table_name DROP COLUMN `column_name`;