## Sqlite + Python- cheatsheet

### Import sqlite

In [ ]:
# to create database
import sqlite3

### Connect to a database

In [ ]:
# connect to a database
# no database exist need to create new db file

db = sqlite3.connect('database.db')

### Create a table with columns

In [ ]:
import sqlite3

def create_table():
  db = sqlite3.connect('database.db')
  cursor = db.cursor()
  cursor.execute("""
    CREATE TABLE IF NOT EXISTS students (
      id integer PRIMARY KEY,
      name text NOT NULL,
      quantity integer,
      score real
    )
  """)
  db.commit()
  db.close()

### Insert data

In [ ]:
# apply execute to insert data into table

data = ('aaz', 'Computer Engineering', 80)
cursor.execute("INSERT INTO students (name, course, score) VALUES (?, ?, ?)", data)

In [ ]:
def insert_data(values):
  db = sqlite3.connect('database.db')
  cursor = db.cursor()
  cursor.execute("INSERT INTO students VALUES (?, ?, ?, ?)", values)
  db.commit()
  db.close()

# data
insert_data( ('aaz', 'Computer Engineering', 80))

### Commit changes to database

In [ ]:
db.commit()

### Close connection

In [ ]:
db.close()

### Display data

In [ ]:
def display_data():
  db = sqlite3.connect('database.db')
  cursor = db.cursor()
  cursor.execute("SELECT * FROM students")
  rows = cursor.fetchall()
  db.close()
  return rows

### Filter data

In [ ]:
def filter_data(name):
  db = sqlite3.connect('database.db')
  cursor = db.cursor()
  cursor.execute("SELECT * FROM students WHERE name=?", (name,))
  row = cursor.fetchone()  
  db.close()
  return row

### Update data

In [ ]:
def update_data(new_quantity, name):
  db = sqlite3.connect('database.db')
  cursor = db.cursor()
  cursor.execute("UPDATE students SET quantity =? WHERE name=?", 
                 (score, name))
  db.commit()
  db.close()

# data  
update_data(100, 'astudent')

### Delete data

In [ ]:
def delete_data(name):
  db = sqlite3.connect('database.db')
  cursor = db.cursor()
  cursor.execute("DELETE FROM students WHERE name=?", (name,))
  db.commit() 
  db.close()

# data
delete_data('bstudent')