## Sqlite + Python: create a database

In [31]:
# import libraries
import pandas as pd

# to create database
import sqlite3 as db

In [32]:
# connect to a database
# no database exist need to create new db file
conn = db.connect('sqlp2b.db')

In [33]:
# cursor execute statement to interact with the database
cursor = conn.cursor()

# execute will create a table
cursor.execute("CREATE TABLE fruit(id INTEGER PRIMARY KEY, name TEXT, quantity INTEGER)")
conn.commit()

In [34]:
# apply execute to insert data into table
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (1, 'Apples', 50))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (2, 'Blueberries', 100))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (3, 'Cranberries', 80))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (4, 'Durians', 80))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (5, 'Lime', 30))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (6, 'Oranges', 5))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (7, 'Mangos', 10))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (8, 'Grapes', 70))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (9, 'Peaches', 80))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (10, 'Pears', 20))

cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (11, 'Avocados', 50))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (12, 'Berries', 100))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (13, 'Lemons', 80))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (14, 'Dragonfruits', 80))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (15, 'Watermelon', 1))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (16, 'Mandarian oranges', 5))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (17, 'Raspberries', 10))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (18, 'Guava', 70))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (19, 'Melons', 80))
cursor.execute("INSERT INTO fruit (id, name, quantity) VALUES (?, ?, ?)", (20, 'Bananas', 20))

conn.commit()

In [35]:
# apply execute to query data from table
# Select all fruits
cursor.execute("SELECT * FROM fruit")

# display results
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Apples', 50)
(2, 'Blueberries', 100)
(3, 'Cranberries', 80)
(4, 'Durians', 80)
(5, 'Lime', 30)
(6, 'Oranges', 5)
(7, 'Mangos', 10)
(8, 'Grapes', 70)
(9, 'Peaches', 80)
(10, 'Pears', 20)
(11, 'Avocados', 50)
(12, 'Berries', 100)
(13, 'Lemons', 80)
(14, 'Dragonfruits', 80)
(15, 'Watermelon', 1)
(16, 'Mandarian oranges', 5)
(17, 'Raspberries', 10)
(18, 'Guava', 70)
(19, 'Melons', 80)
(20, 'Bananas', 20)

In [43]:
# apply execute to query data from table
# extract name column arrange by alphabetical order
cursor.execute("SELECT * FROM fruit ORDER BY name")

# display results
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Apples', 50)
(11, 'Avocados', 50)
(20, 'Bananas', 20)
(12, 'Berries', 100)
(2, 'Blueberries', 100)
(3, 'Cranberries', 80)
(14, 'Dragonfruits', 80)
(4, 'Durians', 80)
(8, 'Grapes', 70)
(18, 'Guava', 70)
(13, 'Lemons', 80)
(5, 'Lime', 30)
(16, 'Mandarian oranges', 5)
(7, 'Mangos', 10)
(19, 'Melons', 80)
(6, 'Oranges', 5)
(9, 'Peaches', 80)
(10, 'Pears', 20)
(17, 'Raspberries', 10)
(15, 'Watermelon', 1)

In [44]:
# apply execute to query data from table
# extract name column arrange by numerical order
cursor.execute("SELECT * FROM fruit ORDER BY quantity")

# display results
rows = cursor.fetchall()
for row in rows:
    print(row)

(15, 'Watermelon', 1)
(6, 'Oranges', 5)
(16, 'Mandarian oranges', 5)
(7, 'Mangos', 10)
(17, 'Raspberries', 10)
(10, 'Pears', 20)
(20, 'Bananas', 20)
(5, 'Lime', 30)
(1, 'Apples', 50)
(11, 'Avocados', 50)
(8, 'Grapes', 70)
(18, 'Guava', 70)
(3, 'Cranberries', 80)
(4, 'Durians', 80)
(9, 'Peaches', 80)
(13, 'Lemons', 80)
(14, 'Dragonfruits', 80)
(19, 'Melons', 80)
(2, 'Blueberries', 100)
(12, 'Berries', 100)

In [46]:
# apply execute to query data from table
# find total number of fruits
cursor.execute("SELECT SUM(quantity) FROM fruit")

# display results
rows = cursor.fetchall()
for row in rows:
    print(row)

(1021,)

In [47]:
# apply execute to query data from table
# extract quantity of fruits from big to small
cursor.execute("SELECT * FROM fruit ORDER BY quantity DESC")

# display results
rows = cursor.fetchall()
for row in rows:
    print(row)

(2, 'Blueberries', 100)
(12, 'Berries', 100)
(3, 'Cranberries', 80)
(4, 'Durians', 80)
(9, 'Peaches', 80)
(13, 'Lemons', 80)
(14, 'Dragonfruits', 80)
(19, 'Melons', 80)
(8, 'Grapes', 70)
(18, 'Guava', 70)
(1, 'Apples', 50)
(11, 'Avocados', 50)
(5, 'Lime', 30)
(10, 'Pears', 20)
(20, 'Bananas', 20)
(7, 'Mangos', 10)
(17, 'Raspberries', 10)
(6, 'Oranges', 5)
(16, 'Mandarian oranges', 5)
(15, 'Watermelon', 1)

In [49]:
# apply execute to query data from table
# extract count distinct
cursor.execute("SELECT COUNT (DISTINCT name) FROM fruit")

# display results
rows = cursor.fetchall()
for row in rows:
    print(row)

(20,)

In [51]:
# apply execute to query data from table
# extract quantity of fruits from big to small
cursor.execute("SELECT COUNT (DISTINCT quantity) FROM fruit")

# display results
rows = cursor.fetchall()
for row in rows:
    print(row)

(9,)

In [52]:
# apply execute to query data from table
# extract only name column
cursor.execute("SELECT DISTINCT name FROM fruit")

# display results
rows = cursor.fetchall()
for row in rows:
    print(row)

('Apples',)
('Blueberries',)
('Cranberries',)
('Durians',)
('Lime',)
('Oranges',)
('Mangos',)
('Grapes',)
('Peaches',)
('Pears',)
('Avocados',)
('Berries',)
('Lemons',)
('Dragonfruits',)
('Watermelon',)
('Mandarian oranges',)
('Raspberries',)
('Guava',)
('Melons',)
('Bananas',)

In [53]:
# apply execute to query data from table
# extract only quantity column
cursor.execute("SELECT DISTINCT quantity FROM fruit")

# display results
rows = cursor.fetchall()
for row in rows:
    print(row)

(50,)
(100,)
(80,)
(30,)
(5,)
(10,)
(70,)
(20,)
(1,)

In [54]:
# apply execute to query data from table
# extract first 5 rows
cursor.execute("SELECT * FROM fruit LIMIT 5")

# display results
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Apples', 50)
(2, 'Blueberries', 100)
(3, 'Cranberries', 80)
(4, 'Durians', 80)
(5, 'Lime', 30)

In [57]:
# apply execute to query data from table
# 1. GROUP BY, 2. SUM, 3. SELECT the column
cursor.execute("SELECT name, SUM(quantity) FROM fruit GROUP BY name")

# display results
rows = cursor.fetchall()
for row in rows:
    print(row)

('Apples', 50)
('Avocados', 50)
('Bananas', 20)
('Berries', 100)
('Blueberries', 100)
('Cranberries', 80)
('Dragonfruits', 80)
('Durians', 80)
('Grapes', 70)
('Guava', 70)
('Lemons', 80)
('Lime', 30)
('Mandarian oranges', 5)
('Mangos', 10)
('Melons', 80)
('Oranges', 5)
('Peaches', 80)
('Pears', 20)
('Raspberries', 10)
('Watermelon', 1)