## Sqlite + Python: create, update and insert simple database using jupyter notebook

### Import sqlite and pandas

In [102]:
# import libraries
import pandas as pd

# to create database
import sqlite3 as db

### Connect to a database

In [103]:
# connect to a database
# no database exist need to create new db file
conn = db.connect('sqlp2.db')

### Create a table with columns

In [104]:
# cursor execute statement to interact with the database
cursor = conn.cursor()

# execute will create a table
cursor.execute("CREATE TABLE students(id INTEGER PRIMARY KEY, name TEXT, course TEXT, score REAL)")
conn.commit()

### Insert data

In [105]:
# apply execute to insert data into table
cursor.execute("INSERT INTO students (name, course, score) VALUES (?, ?, ?)", ('aaz', 'Computer Engineering', 80))
cursor.execute("INSERT INTO students (name, course, score) VALUES (?, ?, ?)", ('baz', 'Electrical Engineering', 100))
cursor.execute("INSERT INTO students (name, course, score) VALUES (?, ?, ?)", ('caz', 'Material Engineering', 30))
cursor.execute("INSERT INTO students (name, course, score) VALUES (?, ?, ?)", ('daz', 'Mechanical Engineering', 70))
conn.commit()

### Apply fetchall( ) to display the results

In [106]:
# apply execute to query data from table
cursor.execute("SELECT * FROM students")

# display results
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'aaz', 'Computer Engineering', 80.0)
(2, 'baz', 'Electrical Engineering', 100.0)
(3, 'caz', 'Material Engineering', 30.0)
(4, 'daz', 'Mechanical Engineering', 70.0)

### Update data

In [107]:
# apply execute to update table

cursor.execute("UPDATE students SET score = ? WHERE id = ?", (90, 1))
conn.commit()

In [108]:
# apply execute to query data from table
cursor.execute("SELECT * FROM students")

# display the result
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'aaz', 'Computer Engineering', 90.0)
(2, 'baz', 'Electrical Engineering', 100.0)
(3, 'caz', 'Material Engineering', 30.0)
(4, 'daz', 'Mechanical Engineering', 70.0)

### Delete data

In [109]:
# apply execute to delete table
cursor.execute("DELETE FROM students WHERE id = ?", (2,))
conn.commit()

In [110]:
# apply execute to query data from table
cursor.execute("SELECT * FROM students")

# display the results
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'aaz', 'Computer Engineering', 90.0)
(3, 'caz', 'Material Engineering', 30.0)
(4, 'daz', 'Mechanical Engineering', 70.0)